service cloud.firestore {
  match /databases/{database}/documents {
    // Allow authenticated user to read and write their own data
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      match /cubes/{cube} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
        match /books/{book} {
          allow read, write: if request.auth != null && request.auth.uid == userId;
        }
      }
    }
  }
}