@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .bouncing-ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
  }
  
  .bouncing-ball:nth-child(1) {
    background-color: red;
    animation: bounce 1s ease-in-out infinite;
  }
  
  .bouncing-ball:nth-child(2) {
    background-color: blue;
    animation: bounce 1s ease-in-out 0.2s infinite;
  }
  
  .bouncing-ball:nth-child(3) {
    background-color: green;
    animation: bounce 1s ease-in-out 0.4s infinite;
  }  